/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Responsive Stylesheet
Project:    Travnet Tech 
Author:     Travnet Tech Team
Author URI: http://www.ncltours.co.uk/
 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* -------------------------------
   max-width: 1199px
   ------------------------------- */
@media screen and (max-width: 1199px) {
   
}
/* -------------------------------
   max-width: 992px
   ------------------------------- */
@media screen and (max-width: 992px) {

}
/* -------------------------------
   max-width: 767px
   ------------------------------- */
@media screen and (max-width: 767px) {

}
/* -------------------------------
   max-width: 479px
   ------------------------------- */
@media screen and (max-width: 479px) {

}
 
